<div class="col-xs-12">
  <div class="box box-primary">
    <div class="box-body">
      <form action="{{ url }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="checkbox"
                 id="published"
                 name="published"
                 class="icheck"
                 value="1"
                  {{ article.published ? 'checked' : '' }}
                 style="position: absolute; opacity: 0;"
          >
          <label class="control-label" for="published">Опубликовано</label>
        </div>

        <div class="form-group">
          <label class="control-label required" for="title">
            Заголовок
          </label>
          <input type="text"
                 id="title"
                 name="title"
                 required="required"
                 class=" form-control"
                 value="{{ article.title }}"
          >
        </div>

        <div class="form-group">
          <label class="control-label required" for="slug">
            Код
          </label>
          <input
                  type="text"
                  id="slug"
                  name="slug"
                  required="required"
                  class=" form-control"
                  value="{{ article.slug }}"
          >
        </div>

        <div class="form-group">
          <label class="control-label required" for="picture">
            Изображение
          </label>

          {% if article.picture is not null %}
            <img src="{{ publicFileLink(article.picture) }}" alt="{{ article.title }}"/>
          {% endif %}

          <input type="file" name="picture" id="picture">
        </div>

        <div class="form-group">
          <label class="control-label required" for="preview">
            Превью
          </label>

          <textarea id="ck_editor" name="preview">
            {{ article.preview }}
          </textarea>
        </div>

        <div class="form-group">
          <label class="control-label required" for="detail_text">
            Детальное описание
          </label>
          <textarea id="ck_editor_additional" name="detail_text">
            {{ article.detailText }}
          </textarea>
        </div>

        <div class="form-group">
          <label class="control-label">Тэги</label>
          <ul class=" list-unstyled">
            {% for tag in tags %}
              <li>
                <label>
                  <input type="checkbox"
                         class="icheck"
                         name="tags[{{ tag.id }}]"
                          {{ tag in article.tags ? 'checked' : '' }}
                  >
                  <span class="control-label">{{ tag.title }}</span>
                </label>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="form-group">
          <label class="control-label" for="description">
            Description
          </label>
          <textarea
                  id="description"
                  name="description"
                  class=" form-control"
          >{{ article.description }}</textarea>
        </div>

        <div class="form-group">
          <label class="control-label" for="keywords">
            Keywords
          </label>
          <input type="text"
                 id="keywords"
                 name="keywords"
                 class=" form-control"
                 value="{{ article.keywords }}"
          >
        </div>

        <div class="form-group">
          <label class="control-label" for="meta_description">
            Meta description
          </label>
          <textarea
                  id="meta_description"
                  name="meta_description"
                  class=" form-control"
          >{{ article.metaDescription }}</textarea>
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
      </form>
    </div>
  </div>
</div>
