{% extends 'template/layout.html.twig' %}

{% block content %}
  <section id="slider">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="slider-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for key, banner in banners %}
                <li data-target="#slider-carousel" data-slide-to="0"
                    class="{{ key == 0 ? 'active' : '' }}"></li>
              {% endfor %}
            </ol>

            <div class="carousel-inner">
              {% for key, banner in banners %}
                <div class="item {{ key == 0 ? 'active' : '' }}">
                  <div class="col-sm-6">
                    <h1>{{ banner['title'] | raw }}</h1>
                    <h2>{{ banner['subtitle'] | raw }}</h2>
                    <p>{{ banner['description'] | raw }}</p>
                  </div>
                  <div class="col-sm-6">
                    <img src="{{ banner['image'] }}" class="girl img-responsive" alt=""/>
                  </div>
                </div>
              {% endfor %}
            </div>

            <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            {% include 'block/category-list.html.twig' %}
            {% include 'block/brand-list.html.twig' %}
          </div>
        </div>

        <div class="col-sm-9 padding-right">
          <div class="features_items">
            <h2 class="title text-center">Новые товары</h2>
            {% for product in products %}
              {% include 'block/product.html.twig' %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
